@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --body-bg-base-color: rgb(2,0,36);
    --body-bg-grad-color:  linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    --telaPrinc-bg-color: rgb(135, 135, 229);
    --conversor-bg-grad-color: rgba(255, 255, 255, 0.829);
    --conversor-text-primary-color: rgb(229, 224, 224);
    --boxshadow-color: black;
    --label-hover-color: green;
    --text1-color: green;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    /* background-color: #333;
    color: black; */
}

body{
    background: var(--body-bg-base-color);
    background: var(--body-bg-grad-color);
    height: 100vh;
    display: flex;
    flex-direction: column;    
}

.posicao{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-top: 1em;
}

.mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: relative;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1em;      
}

#woman{
    /* margin-left: 3rem;
    margin-right: 3rem; */
    position: relative; 
    /* border: 1px solid red; */
    padding-bottom: 3rem;
    z-index: 10;
}

#pattern{
    display: flex;   
    /* border: 1px solid red; */
    position: absolute;
    width: 100%;
    /* padding-left: 3rem;
    padding-right: 3rem; */
    z-index: 8; 
}

#tela-principal{
    position: absolute;
    /* border: 1px solid red; */
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 10px;
    /* background-color: rgba(255, 255, 255, 0.365); */
    /* background-color: var(--conversor-bg-grad-color); */
    margin-top: 9rem;  
}

h1 {
    margin-top: 10rem;
    background-color:var(--telaPrinc-bg-color);
    color: var(--conversor-text-primary-color);
    padding: 1rem;
    border-radius: 10px;
    text-shadow: 5px 5px 10px var(--boxshadow-color);
    margin-left: 8px;
    margin-right: 8px;    
}

.valorEmReal{
    -webkit-opperance:none;
}

.form-group{
    text-align: center;
    color: red;
    word-spacing: 0.2rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--conversor-text-primary-color);
}

.form-group button{
    margin-top: 1.5rem;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;    
}

#valorEmReal{
    border:none;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 3px white;
    width: 60%;
    height: 2rem;
}

label{
    /* border: 1px solid red; */
    border-radius: 10px;
    padding: 0.3rem 1rem;
    background-color:var(--telaPrinc-bg-color);  
    cursor: pointer;  
    box-shadow: 2px 2px 8px black;
}

label:hover, label:active{
    
    background-color:var(--label-hover-color);
}

input.radio{
    display: none;
}

.infoCotacao{
    /* border: 1px solid red; */
    /* border-radius: 10px; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /* box-shadow: 5px 5px 10px black; */
    padding: 1rem 1rem 1rem;
    margin-top: 2rem;
    /* background-color: rgba(211, 211, 232, 0.25); */    
}


h2 {
    color: yellow;
    text-shadow: 0.1rem 0.1rem 0.2rem var(--boxshadow-color);
    /* padding-left: 2rem;
    padding-right: 2rem; */
    text-align: center;
    font-size: 1.2rem;
    /* margin-top: 1rem; */
    margin-bottom: 1rem;    
}

p {
    margin: 0.5rem 1rem;
    margin-bottom: 0;
    font-size: 1.1rem;    
}

#maxvalue {
    color: green;
    font-weight: 700;
}

#minvalue {
    color: red;
    font-weight: 700;
}

#aviso{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.resultado{
    /* border: 1px solid; */
    /* padding: 2rem; */
    margin-left: 8px;
    margin-right: 8px;
    height: 4.5rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.537);
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;    
}